::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
// ::-webkit-scrollbar-thumb {
//   background: rgb(255, 0, 0);
// }

.search-results-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  // height: calc(100vh - 35px);
  background-color: rgb(246, 206, 143);
  overflow: scroll;

  .showWarningModal {
    display: flex;
    position: fixed;
    z-index: 250;
    width: 100%;
    height: calc(100vh - 35px);
    top: 35px;
    background: rgba(150, 117, 122, 0.9);
    justify-content: center;
    align-items: center;

    .searchWarningModal {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      background-color: #5e1742;
      cursor: pointer;

      .searchWarning {
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        color: rgb(246, 206, 143);
      }
    }
  }

  .hideWarningModal {
    display: none;
  }

  .search-filters-main-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 800;
    top: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;

    .search-filters-btn-container {
      display: flex;
      position: fixed;
      flex-direction: row;
      z-index: 950;
      top: 35px;
      width: 100%;
      height: 50px;
      justify-content: space-between;
      align-items: flex-start;
      background-color: rgb(94, 23, 66);
      box-shadow: #5e1742 0px 0px 0px 0px, #5e1742 0px 0px 10px 10px;
      padding-top: 15px;

      .showSearchingBackground {
        display: flex;
        position: fixed;
        z-index: 800;
        width: 100vw;
        height: calc(100vh - 35px);
        top: 35px;
        background: rgba(150, 117, 122, 0.9);
        justify-content: center;
        align-items: center;
        cursor: grab;
      }

      .hideSearchingBackground {
        display: none;
      }

      .search-main-container {
        display: flex;
        position: relative;
        z-index: 850;
        justify-content: center;

        .search-container {
          display: flex;
          position: relative;
          flex-direction: column;
          margin-left: 10px;

          .search-box {
            display: flex;
            position: relative;
            flex-direction: row;
            width: 400px;
            border-radius: 5px;
            border: rgba(94, 23, 66, 0.9);
            border-style: solid;
            border-width: 1.5px;

            .home-search-input {
              display: flex;
              position: relative;
              justify-content: center;
              align-items: center;
              width: 320px;
              z-index: 2;
              outline: none;
              cursor: text;
              border-style: solid;
              border-top-width: 1.5px;
              border-right-width: 0px;
              border-bottom-width: 1.5px;
              border-left-width: 1.5px;
              background-color: rgb(150, 117, 122);
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
              font-family: 'Open Sans', sans-serif;
              font-size: 20px;
              color: rgb(246, 206, 143);
              text-align: center;
            }

            .home-search-input::placeholder {
              font-family: 'Open Sans', sans-serif;
              color: rgb(246, 206, 143);
              text-align: center;
            }

            .homeSearchBtn {
              display: flex;
              position: relative;
              justify-content: center;
              align-items: center;
              z-index: 4;
              border-style: outset;
              border-width: 1.5px;
              border-color: rgb(246, 206, 143);
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
              outline: none;
              width: 80px;
              font-family: 'Open Sans', sans-serif;
              font-size: 20px;
              text-align: center;
              background-color: rgb(94, 23, 66);
              color: rgb(246, 206, 143);
              cursor: pointer;
            }

            .homeSearchBtn:active {
              border-style: inset;
            }
          }

          .showCitiesDropDown {
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: center;
            flex-wrap: nowrap;
            // max-height: 840px;
            // overflow: scroll;

            .suggestionList {
              display: flex;
              position: relative;
              flex-direction: column;
              width: 312px;
              left: 7px;

              .inactiveSuggestion {
                background: rgb(150, 117, 122);
                color: rgb(246, 206, 143);
                list-style: none;
                border-bottom: 1px solid #d8d8d823;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
                width: 100%;
                margin: 0;
                padding: 12px 0px;
                // padding: 12px 20px;
                transition: 0.2s;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-transform: capitalize;
                cursor: pointer;

                p {
                  font-family: 'Open Sans', sans-serif;
                  font-size: 20px;
                  width: 320px;
                  text-align: center;
                }
              }

              .inactiveSuggestion:last-child {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
              }

              .activeSuggestion {
                background: rgb(246, 206, 143);
                color: rgb(150, 117, 122);
                list-style: none;
                border-bottom: 1px solid #d8d8d823;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
                width: 100%;
                margin: 0;
                padding: 15px 20px;
                transition: 0.2s;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-transform: capitalize;
                cursor: pointer;

                p {
                  font-family: 'Open Sans', sans-serif;
                  font-size: 20px;
                  width: 320px;
                  text-align: center;
                }
              }
            }
          }

          .hideCitiesDropDown {
            display: none;
          }
        }
      }

      .filters-drpdwn-btn-container {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        border: rgba(94, 23, 66, 0.9);
        border-style: solid;
        border-width: 1.5px;

        .filters-drpdwn-btn {
          display: flex;
          position: relative;
          justify-content: center;
          align-items: center;
          background-color: rgb(94, 23, 66);
          width: 160px;
          font-family: 'Open Sans', sans-serif;
          font-size: 20px;
          text-align: center;
          color: rgb(246, 206, 143);
          border-style: outset;
          border-width: 1.5px;
          border-color: rgb(246, 206, 143);
          border-radius: 5px;
          outline: none;
          cursor: pointer;
        }

        .filters-drpdwn-btn:active {
          border-style: inset;
        }
      }
    }

    .show-search-filters {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: rgb(94, 23, 66);
      box-shadow: #5e1742 0px 0px 0px 0px, #5e1742 0px 0px 10px 10px;
      transition: 1s ease-in-out;
      transform: translate(0%, 50%);

      .filters-main-container {
        display: flex;
        position: relative;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin: 20px 0px 10px 0px;
        padding: 0px 10px;

        .single-filter-container {
          .filter-title-container {
            .filter-title {
              display: flex;
              position: relative;
              justify-content: center;
              color: rgb(246, 206, 143);
              font-family: 'Open Sans', sans-serif;
              font-size: 20px;
            }
          }

          .filter-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            border: rgba(94, 23, 66, 0.9);
            border-style: solid;
            border-width: 1.5px;

            input,
            select,
            option {
              display: flex;
              position: relative;
              justify-content: center;
              align-items: center;
              margin: 5px;
              background-color: rgb(150, 117, 122);
              color: rgb(246, 206, 143);
              border-style: solid;
              border-width: 1.5px;
              border-radius: 5px;
              border-color: rgb(246, 206, 143);
              font-family: 'Open Sans', sans-serif;
              font-size: 18px;
              text-decoration: none;
              text-align: center;
              outline: none;
              cursor: pointer;
              -webkit-user-select: none;
              user-select: none;
            }

            input::-webkit-inner-spin-button {
              display: none;
              -webkit-appearance: none;
            }

            input::-webkit-calendar-picker-indicator {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: auto;
              height: auto;
              color: transparent;
              background: transparent;
              cursor: pointer;
            }

            input::-webkit-datetime-edit-day-field:focus,
            input::-webkit-datetime-edit-month-field:focus,
            input::-webkit-datetime-edit-year-field:focus {
              background-color: transparent;
              color: rgb(246, 206, 143);
            }
          }
        }

        .filter-results-btn-container {
          display: flex;
          position: relative;
          flex-direction: row;
          // justify-content: space-evenly;
          align-items: center;

          .reset-filters-btn {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            border-style: outset;
            border-width: 1.5px;
            // border-color: rgb(246, 206, 143);
            border-color: white;
            border-radius: 5px;
            outline: none;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: bold;
            // background-color: rgb(94, 23, 66);
            background-color: red;
            color: black;
            // color: rgb(246, 206, 143);
            cursor: pointer;
            margin-right: 15px;
          }

          .filter-results-btn {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            border-style: outset;
            border-width: 1.5px;
            // border-color: rgb(246, 206, 143);
            border-color: white;
            border-radius: 5px;
            outline: none;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: bold;
            // background-color: rgb(94, 23, 66);
            background-color: green;
            color: white;
            // color: rgb(246, 206, 143);
            cursor: pointer;
            margin-left: 15px;
          }
        }
      }
    }

    .hide-search-filters {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: rgb(94, 23, 66);
      box-shadow: #5e1742 0px 0px 0px 0px, #5e1742 0px 0px 10px 10px;
      transition: 1s ease-in-out;
      transform: translate(0%, -75%);

      .filters-container {
        display: flex;
        position: relative;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 20px 0px 10px 0px;

        .filter {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: rgb(246, 206, 143);
          background-color: rgb(150, 117, 122);
          margin: 5px;
          font-family: sans-serif;
          font-size: 20px;
          // height: 35px;
          border-radius: 5px;
          border: rgba(94, 23, 66, 0.9);
          border-style: solid;
          border-width: 1.5px;

          input,
          select,
          option {
            background-color: transparent;
            color: rgb(246, 206, 143);
            border: none;
            // height: 15vh;
            // width: 11vw;
            text-align: center;
          }

          input {
            background-color: transparent;
            border: none;
            font-family: sans-serif;
            font-size: 16px;
            color: rgb(246, 206, 143);
          }
          input::-webkit-inner-spin-button {
            display: none;
            -webkit-appearance: none;
          }
          input::-webkit-calendar-picker-indicator {
            font-size: 18px;
          }
          // .input-field {
          // 	background-color: white;
          // }
          input:focus,
          select:focus,
          option:focus {
            outline: none;
          }
          .input-field {
            width: 350px;
            font-size: 32px;
          }
          p {
            font-size: 24px;
            padding: 10px;
            cursor: pointer;
          }
        }
        .filter:hover {
          transition: 0.5s;
          border: solid 5px rgb(246, 206, 143);
        }
      }
    }
  }

  .events-list {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 70px 0px 15px 0px;

    .event-details-navlink {
      display: flex;
      position: relative;
      margin: 10px 0px;
    }
  }

  .loading {
    position: fixed;
    bottom: -140px;
  }

  .loaded {
    display: none;
  }
}
