html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
  // background-image: url('./images/audiencepic.jpg');
  // background-attachment: fixed;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: bottom;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  height: 100%;
  width: 100%;

  header {
    display: flex;
    position: fixed;
    z-index: 900;
  }

  .site-contents-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    // height: calc(100vh - 50px);
    margin-top: 35px;
  }
}
